<?xml version="1.0"?>
<config>
    <modules>
        <Tim_PriceUpdate>
            <version>0.1.2</version>
        </Tim_PriceUpdate>
    </modules>
    <global>
        <models>
            <tim_priceupdate>
                <class>Tim_PriceUpdate_Model</class>
                <resourceModel>tim_priceupdate_resource</resourceModel>
            </tim_priceupdate>
            <tim_priceupdate_resource>
                <class>Tim_PriceUpdate_Model_Resource</class>
                <entities>
                    <report>
                        <table>tim_price_update_report</table>
                    </report>
                </entities>
            </tim_priceupdate_resource>
        </models>
        <blocks>
            <tim_priceupdate>
                <class>Tim_PriceUpdate_Block</class>
            </tim_priceupdate>
        </blocks>
        <helpers>
            <tim_priceupdate>
                <class>Tim_PriceUpdate_Helper</class>
            </tim_priceupdate>
        </helpers>
        <resources>
            <tim_priceupdate_setup>
                <setup>
                    <module>Tim_PriceUpdate</module>
                </setup>
            </tim_priceupdate_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tim_priceupdate before="Mage_Adminhtml">Tim_PriceUpdate_Adminhtml</tim_priceupdate>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <tim_priceupdate_update_price>
                <run>
                    <model>tim_priceupdate/cron::updatePrice</model>
                </run>
                <schedule>
                    <cron_expr>0 6 * * *</cron_expr>
                </schedule>
            </tim_priceupdate_update_price>
        </jobs>
    </crontab>
    <default>
        <catalog>
            <price_update>
                <enabled>0</enabled>
                <logging_enabled>0</logging_enabled>
            </price_update>
        </catalog>
    </default>
</config>