<config>
    <sections>
        <catalog>
            <groups>
                <price_update translate="label" module="tim_priceupdate">
                    <label>Price Update</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label" module="tim_priceupdate">
                            <label>Price Update Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <cron_frequency translate="label" module="tim_priceupdate">
                            <label>Price Update Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cron_frequency</source_model>
                            <backend_model>tim_priceupdate/system_config_backend_cronPriceUpdate</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron_frequency>
                        <cron_time translate="label" module="tim_priceupdate">
                            <label>Price Update Time</label>
                            <frontend_type>time</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron_time>
                        <logging_enabled>
                            <label>Price Update Log</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </logging_enabled>
                    </fields>
                </price_update>
            </groups>
        </catalog>
    </sections>
</config>