<?xml version="1.0"?>
<config>
    <modules>
        <Orba_Allegro>
            <version>0.1.1.2</version>
        </Orba_Allegro>
    </modules>
    <global>
        <blocks>
            <orbaallegro>
                <class>Orba_Allegro_Block</class>
            </orbaallegro>
        </blocks>
        <models>
            <orbaallegro>
                <class>Orba_Allegro_Model</class>
                <resourceModel>orbaallegro_resource</resourceModel>
            </orbaallegro>
            <orbaallegro_resource>
                <class>Orba_Allegro_Model_Resource</class>
                <entities>
                    <template>
                        <table>orba_allegro_template</table>
                    </template>
                    <eav_attribute>
                        <table>orba_allegro_eav_attribute</table>
                    </eav_attribute>
                    <form_options>
                        <table>orba_allegro_form_options</table>
                    </form_options>
                    <category>
                        <table>orba_allegro_category</table>
                    </category>
                    <mapping>
                        <table>orba_allegro_mapping</table>
                    </mapping>
                    <mapping_shipment>
                        <table>orba_allegro_mapping_shipment</table>
                    </mapping_shipment>
                    <mapping_payment>
                        <table>orba_allegro_mapping_payment</table>
                    </mapping_payment>
                    <mapping_sellform>
                        <table>orba_allegro_mapping_sellform</table>
                    </mapping_sellform>
                    <mapping_store>
                        <table>orba_allegro_mapping_store</table>
                    </mapping_store>
                    <service>
                        <table>orba_allegro_service</table>
                    </service>
                    <auction>
                        <table>orba_allegro_auction</table>
                    </auction>
                    <auction_bid>
                        <table>orba_allegro_auction_bid</table>
                    </auction_bid>
                    <auction_bid_note>
                        <table>orba_allegro_auction_bid_note</table>
                    </auction_bid_note>
                    <auction_serialized>
                        <table>orba_allegro_auction_serialized</table>
                    </auction_serialized>
                    <transaction>
                        <table>orba_allegro_transaction</table>
                    </transaction>
                    <transaction_auction>
                        <table>orba_allegro_transaction_auction</table>
                    </transaction_auction>
                    <transaction_address>
                        <table>orba_allegro_transaction_address</table>
                    </transaction_address>
                    <transaction_serialized>
                        <table>orba_allegro_transaction_serialized</table>
                    </transaction_serialized>
                    <pickpoint>
                        <table>orba_allegro_pickpoint</table>
                    </pickpoint>
                    <pickpoint_provider>
                        <table>orba_allegro_pickpoint_provider</table>
                    </pickpoint_provider>
                    <shop_category>
                        <table>orba_allegro_shop_category</table>
                    </shop_category>
                    <contractor>
                        <table>orba_allegro_contractor</table>
                    </contractor>
                </entities>
            </orbaallegro_resource>
            <sales>
                <rewrite>
                    <quote_address>Orba_Allegro_Model_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
        </models>
        <resources>
            <orbaallegro_setup>
                <setup>
                    <module>Orba_Allegro</module>
                    <class>Orba_Allegro_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orbaallegro_setup>
            <orbaallegro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orbaallegro_write>
            <orbaallegro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orbaallegro_read>
        </resources>
        <helpers>
            <orbaallegro>
                <class>Orba_Allegro_Helper</class>
            </orbaallegro>
        </helpers>
        <events>

            <catalog_product_load_after>
                <observers>
                    <orbaallegro>
                        <class>orbaallegro/observer</class>
                        <method>handleCatalogProductLoadAfter</method>        
                    </orbaallegro>
                </observers>
            </catalog_product_load_after>
            <sales_order_save_before>
                <observers>
                    <orbaallegro>
                        <class>orbaallegro/observer</class>
                        <method>handleSalesOrderSaveBefore</method>        
                    </orbaallegro>
                </observers>
            </sales_order_save_before>
            <sales_order_save_after>
                <observers>
                    <orbaallegro>
                        <class>orbaallegro/observer</class>
                        <method>handleSalesOrderSaveAfter</method>        
                    </orbaallegro>
                </observers>
            </sales_order_save_after>
        </events>
        <!-- copy fields values -->
        <fieldsets>
            <sales_convert_order>
                <orbaallegro_contractor_id>
                    <to_quote>*</to_quote>
                </orbaallegro_contractor_id>
                <orbaallegro_transaction_id>
                    <to_quote>*</to_quote>
                </orbaallegro_transaction_id>
                <orbaallegro_shipment_id>
                    <to_quote>*</to_quote>
                </orbaallegro_shipment_id>
                <orbaallegro_payment_id>
                    <to_quote>*</to_quote>
                </orbaallegro_payment_id>=
                <orbaallegro_allegro_buyer_id>
                    <to_quote>*</to_quote>
                </orbaallegro_allegro_buyer_id>
                <orbaallegro_country_code>
                    <to_quote>*</to_quote>
                </orbaallegro_country_code>
            </sales_convert_order>    
            
            <!-- Order address -->
            <sales_convert_order_address>
                <orbaallegro_contractor_id>
                    <to_quote_address>*</to_quote_address>
                </orbaallegro_contractor_id>
                <orbaallegro_address_id>
                    <to_quote_address>*</to_quote_address>
                </orbaallegro_address_id>
                <orbaallegro_allegro_buyer_id>
                    <to_quote_address>*</to_quote_address>
                </orbaallegro_allegro_buyer_id>
                <orbaallegro_shipment_id>
                    <to_quote_address>*</to_quote_address>
                </orbaallegro_shipment_id>
            </sales_convert_order_address>

            <!-- Order auction id -->
            <sales_convert_order_item>
                <orbaallegro_auction_id>
                    <to_quote_item>*</to_quote_item>
                </orbaallegro_auction_id>
                <orbaallegro_bid_id>
                    <to_quote_item>*</to_quote_item>
                </orbaallegro_bid_id>
            </sales_convert_order_item>

            <!-- Order copied -->     
            <sales_copy_order>
                <orbaallegro_contractor_id>
                    <to_edit>*</to_edit>
                </orbaallegro_contractor_id>
                <orbaallegro_transaction_id>
                    <to_edit>*</to_edit>
                </orbaallegro_transaction_id>
                <orbaallegro_shipment_id>
                    <to_edit>*</to_edit>
                </orbaallegro_shipment_id>
                <orbaallegro_payment_id>
                    <to_edit>*</to_edit>
                </orbaallegro_payment_id>
                <orbaallegro_allegro_buyer_id>
                    <to_edit>*</to_edit>
                </orbaallegro_allegro_buyer_id>
                <orbaallegro_country_code>
                    <to_edit>*</to_edit>
                </orbaallegro_country_code>
            </sales_copy_order>
            <!-- Order copied billing -->
            <sales_copy_order_billing_address>
                <orbaallegro_address_id>
                    <to_order>*</to_order>
                </orbaallegro_address_id>
                <orbaallegro_allegro_buyer_id>
                    <to_order>*</to_order>
                </orbaallegro_allegro_buyer_id>
                <orbaallegro_shipment_id>
                    <to_order>*</to_order>
                </orbaallegro_shipment_id>
            </sales_copy_order_billing_address>

            <!-- Order copied shipping -->
            <sales_copy_order_billing_address>
                <orbaallegro_address_id>
                    <to_order>*</to_order>
                </orbaallegro_address_id>
                <orbaallegro_allegro_buyer_id>
                    <to_order>*</to_order>
                </orbaallegro_allegro_buyer_id>
                <orbaallegro_shipment_id>
                    <to_order>*</to_order>
                </orbaallegro_shipment_id>
            </sales_copy_order_billing_address>

            <!-- Quote -->
            <sales_convert_quote>
                <orbaallegro_contractor_id>
                    <to_order>*</to_order>
                </orbaallegro_contractor_id>
                <orbaallegro_transaction_id>
                    <to_order>*</to_order>
                </orbaallegro_transaction_id>
                <orbaallegro_shipment_id>
                    <to_order>*</to_order>
                </orbaallegro_shipment_id>
                <orbaallegro_payment_id>
                    <to_order>*</to_order>
                </orbaallegro_payment_id>
                <orbaallegro_allegro_buyer_id>
                    <to_order>*</to_order>
                </orbaallegro_allegro_buyer_id>
                <orbaallegro_country_code>
                    <to_order>*</to_order>
                </orbaallegro_country_code>
            </sales_convert_quote> 
            <!-- Quote address -->
            <sales_convert_quote_address>
                <orbaallegro_allegro_buyer_id>
                    <to_order_address>*</to_order_address>
                    <!-- @todo copy to cutomer address -->
                </orbaallegro_allegro_buyer_id>
                <orbaallegro_address_id>
                    <to_order_address>*</to_order_address>
                </orbaallegro_address_id>
                <orbaallegro_shipment_id>
                    <to_order_address>*</to_order_address>
                </orbaallegro_shipment_id>
            </sales_convert_quote_address>

            <!-- Quote Item -->
            <sales_convert_quote_item>
                <orbaallegro_auction_id>
                    <to_order_item>*</to_order_item>
                </orbaallegro_auction_id>
                <orbaallegro_bid_id>
                    <to_order_item>*</to_order_item>
                </orbaallegro_bid_id>
            </sales_convert_quote_item>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <orbaallegro>
                <use>standard</use>
                <args>
                    <module>Orba_Allegro</module>
                    <frontName>orbaallegro</frontName>
                </args>
            </orbaallegro>
        </routers>
        <layout>
            <updates>
                <orbaallegro>
                    <file>orbaallegro.xml</file>
                </orbaallegro>
            </updates>
        </layout>
    </frontend>
    <default>
        <carriers>
            <orbaallegro>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>orbaallegro/mapping_shipment_carrier</model>
                <title>Allegro</title>
                <specificerrmsg>This shipping method is currently unavailable.</specificerrmsg>
            </orbaallegro>
        </carriers>
        <payment>
            <orbaallegro>
                <active>1</active>
                <model>orbaallegro/mapping_payment_method</model>
                <order_status>pending</order_status>
                <title>Allegro</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </orbaallegro>
        </payment>
        <orbaallegro>
            <config>
                <api_url>https://webapi.allegro.pl/service.php?wsdl</api_url>
                <country_id>1</country_id>
            </config>
            <config_sandbox>
                <api_url>https://webapi.allegro.pl.webapisandbox.pl/service.php?wsdl</api_url>
                <country_id>1</country_id>
            </config_sandbox>
            <categories>
                <active>1</active>
                <!-- <country_ids>1,228</country_ids>-->
            </categories>    
            <orders>
                <create_customer>1</create_customer>
                <override_shipping_rate>1</override_shipping_rate>
            </orders>
            <template_design>
                <accent_color>#ff7d13</accent_color>
                <text_color>#333333</text_color>
                <text_light_color>#999999</text_light_color>
            </template_design>
            <template_base>
                <title>name</title>
                <description>description</description>
                <weight>weight</weight>
                <duration>2</duration>
                <quantity>1</quantity>
                <additional_options>2</additional_options>
                <buy_now_price>price</buy_now_price>
                <shipping_payer>1</shipping_payer>
                <bank_transfer>0</bank_transfer>
                <vat_invoices>1</vat_invoices>
                <quantity_type>0</quantity_type>
            </template_base>
            <template_image>
                <main>base_image</main>
                <count>1</count>
                <width>590</width>
                <height>590</height>
                <keep_frame>1</keep_frame>
            </template_image>
            <template_shipping>
                <shipping_payer>1</shipping_payer>
            </template_shipping>
            <template_localization>
                <country>1</country>
            </template_localization>
            <utils>
                <debug_mode>0</debug_mode>
                <unhandled_item_count>1</unhandled_item_count>
            </utils>
        </orbaallegro>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Orba_Allegro>
                    <files>
                        <default>Orba_Allegro.csv</default>
                    </files>
                </Orba_Allegro>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <orbaallegro>
                                            <title>ORBA | Allegro</title>
                                        </orbaallegro>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <orbaallegro>
                    <file>orbaallegro.xml</file>
                </orbaallegro>
            </updates>
        </layout>        
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <orbaallegro_core_block_abstract_prepare_layout_before>
                        <class>orbaallegro/observer</class>
                        <method>addMassAction</method>
                    </orbaallegro_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <orbaallegro>
                        <class>orbaallegro/observer</class>
                        <method>handlePrepareLayoutAfter</method>        
                    </orbaallegro>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <catalog_product_collection_load_before>
                <observers>
                    <orbaallegro>
                        <class>orbaallegro/observer</class>
                        <method>handleCatalogProductCollectionLoadBefore</method>        
                    </orbaallegro>
                </observers>
            </catalog_product_collection_load_before>
        </events>
    </adminhtml>
    <!-- <admin>
        <routers>
            <orbaallegro>
                <use>admin</use>
                <args>
                    <module>Orba_Allegro</module>
                    <frontName>orbaallegro</frontName>
                </args>
            </orbaallegro>
        </routers>
    </admin> -->
    <admin>

        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <orbaallegro before="Mage_Adminhtml">Orba_Allegro_Adminhtml</orbaallegro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <orbaallegro_verify_auction>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>orbaallegro/observer::verifyAucitons</model>
                </run>
            </orbaallegro_verify_auction>
            
            <orbaallegro_check_placed_auction>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>orbaallegro/observer::checkPlacedAuctions</model>
                </run>
            </orbaallegro_check_placed_auction>
			
            <orbaallegro_do_renew_auction>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>orbaallegro/observer::doRenewAuctions</model>
                </run>
            </orbaallegro_do_renew_auction>

            <orbaallegro_run_all_mappings>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>orbaallegro/mapping::cronRunAll</model>
                </run>
            </orbaallegro_run_all_mappings>
            <!-- import / sync categories -->
            <orbaallegro_run_do_import_categories>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>orbaallegro/category::doImport</model>
                </run>
            </orbaallegro_run_do_import_categories>
            
            <orbaallegro_run_do_import_shop_categories>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>orbaallegro/shop_category::doImport</model>
                </run>
            </orbaallegro_run_do_import_shop_categories>
        </jobs>
    </crontab>
</config>
