<?xml version="1.0"?>
<!--
/**
 * Tim
 *
 * @category   Tim
 * @package    Tim_Allegro
 * @copyright  Copyright (c) 2016 Tim (http://tim.pl)
 * @author     Vladislav Verbitskiy <vladomsu@gmail.com>
 */
-->
<config>
    <modules>
        <Tim_Allegro>
            <version>0.0.1</version>
        </Tim_Allegro>
    </modules>
    <global>
        <helpers>
            <tim_allegro>
                <class>Tim_Allegro_Helper</class>
            </tim_allegro>
        </helpers>
        <blocks>
            <tim_allegro>
                <class>Tim_Allegro_Block</class>
            </tim_allegro>
        </blocks>
        <models>
            <tim_allegro>
                <class>Tim_Allegro_Model</class>
                <resourceModel>tim_allegro_resource</resourceModel>
            </tim_allegro>
            <tim_allegro_resource>
                <class>Tim_Allegro_Model_Resource</class>
                <entities>
                    <import>
                        <table>tim_import_csv_file</table>
                    </import>
                </entities>
            </tim_allegro_resource>
        </models>
        <resources>
            <tim_allegro_setup>
                <setup>
                    <module>Tim_Allegro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tim_allegro_setup>
            <tim_allegro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tim_allegro_write>
            <tim_allegro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tim_allegro_read>
        </resources>
        <events>
            <admin_system_config_changed_section_tim_import>
                <observers>
                    <tim_delete_uploaded_file>
                        <class>tim_allegro/observer</class>
                        <method>deleteUploadedFile</method>
                    </tim_delete_uploaded_file>
                </observers>
            </admin_system_config_changed_section_tim_import>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <importXml before="Mage_Adminhtml">Tim_Allegro_Adminhtml</importXml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Tim_Allegro>
                    <files>
                        <default>Tim_Allegro.csv</default>
                    </files>
                </Tim_Allegro>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <tim_import_files>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>tim_allegro/importFiles::run</model></run>
            </tim_import_files>
        </jobs>
    </crontab>
</config>