<?xml version="1.0"?>
<!--
/**
 * Tim
 *
 * @category   Tim
 * @package    Tim_Allegro
 * @copyright  Copyright (c) 2016 Tim (http://tim.pl)
 * @author     Vladislav Verbitskiy <vladomsu@gmail.com>
 */
-->
<config>
    <modules>
        <Tim_Allegro>
            <version>0.0.1</version>
        </Tim_Allegro>
    </modules>
    <global>
        <helpers>
            <tim_allegro>
                <class>Tim_Allegro_Helper</class>
            </tim_allegro>
        </helpers>
        <blocks>
            <tim_allegro>
                <class>Tim_Allegro_Block</class>
            </tim_allegro>
        </blocks>
        <models>
            <tim_allegro>
                <class>Tim_Allegro_Model</class>
            </tim_allegro>
        </models>
        <events>
            <admin_system_config_changed_section_tim_import>
                <observers>
                    <tim_delete_uploaded_file>
                        <class>tim_allegro/observer</class>
                        <method>deleteUploadedFile</method>
                    </tim_delete_uploaded_file>
                </observers>
            </admin_system_config_changed_section_tim_import>
        </events>
    </global>
    <admin>
        <routers>
            <tim_allegro>
                <use>admin</use>
                <args>
                    <module>Tim_Allegro</module>
                    <frontName>tim_allegro</frontName>
                </args>
            </tim_allegro>
        </routers>
    </admin>
    <adminhtml>
        <!--Translate have to be implemented to general config.xml-->
        <translate>
            <modules>
                <Tim_Allegro>
                    <files>
                        <default>Tim_Allegro.csv</default>
                    </files>
                </Tim_Allegro>
            </modules>
        </translate>
    </adminhtml>
</config>