<?xml version="1.0"?>
<!--
/**
 * Tim
 *
 * @category   Tim
 * @package    Tim_Allegro
 * @copyright  Copyright (c) 2016 Tim (http://tim.pl)
 * @author     Vladislav Verbitskiy <vladomsu@gmail.com>
 */
-->
<config>
    <tabs>
        <tim_tab translate="label" module="tim_allegro">
            <label>TIM SA</label>
            <sort_order>100500</sort_order>
        </tim_tab>
    </tabs>
    <sections>
        <tim_import translate="label" module="tim_allegro">
            <label>Import products from CSV</label>
            <tab>tim_tab</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <tim_import_interface translate="label" module="tim_allegro">
                    <label>Import products from CSV</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <import translate="label comment" module="tim_allegro">
                            <label>File to import</label>
                            <comment>Allow ONLY csv files!</comment>
                            <frontend_type>file</frontend_type>
                            <backend_model>adminhtml/system_config_backend_file</backend_model>
                            <upload_dir>var/tim_import/csv</upload_dir>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </import>
                        <import_button>
                            <frontend_type>button</frontend_type>
                            <frontend_model>tim_allegro/adminhtml_system_config_form_field_importButton</frontend_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </import_button>
                    </fields>
                </tim_import_interface>
            </groups>
        </tim_import>
        <tim_alternative_image translate="label" module="tim_allegro">
            <label>Alternative image</label>
            <tab>tim_tab</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <tim_alternative_image_group translate="label" module="tim_allegro">
                    <label>Alternative image</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <alternative_image translate="label comment" module="tim_allegro">
                            <label>Image to download</label>
                            <comment>Allow ONLY jpg files!</comment>
                            <frontend_type>file</frontend_type>
                            <backend_model>tim_allegro/system_config_backend_images</backend_model>
                            <upload_dir>var/tim_import/alternative_image</upload_dir>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </alternative_image>
                    </fields>
                </tim_alternative_image_group>
            </groups>
        </tim_alternative_image>
        <tim_reports_settings translate="label" module="tim_allegro">
            <label>Reports settings</label>
            <tab>tim_tab</tab>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <tim_reports_group translate="label" module="tim_allegro">
                    <label>Email settings</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <tim_reports_to translate="label comment" module="tim_allegro">
                            <label>Send reports to</label>
                            <comment>Comma-separated</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_reports_to>
                    </fields>
                </tim_reports_group>
            </groups>
        </tim_reports_settings>
    </sections>
</config>